{% extends "main.html" %}
{% load static %}
{% block title %}{{ user }} profile at {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ user }} profile</h1>
{% if user.profile.photo %}
    <img class="profile-photo" src="{{ user.profile.photo.url }}">
{% else %}
    <img class="profile-photo" src="{% static "user_profile/img/user.jpg" %}">
{% endif %}
<p id="big">Full Name: {{ user.first_name }} {{ user.last_name }} </p>
<p id="big">Email: {{ user.email }}</p>
<p><a href="{% url "profile_update" %}" class="btn">Update</a></p>
<h2>Bookings:</h2>
{% if user.booking_set.all %}
    <ul id="bg">
        {% for booking in user.booking_set.all %}
            <li>{{ booking.room }} - Check-in: {{ booking.check_in_date }} - Check-out: {{ booking.check_out_date }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p id="bg">No bookings yet.</p>
{% endif %}
{% endblock content %}
