{% extends "main.html" %}
{% load static i18n %}
{% block title %}{% trans "Sign up to "|title %}{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "Sign up"|title %}</h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <p>
        <label for="username">{% trans "Username:"|title %}</label>
        <input id="username" type="text" name="username" value="{{ request.POST.username }}">
    </p>
    <p>
        <label for="email">{% trans "E-mail:"|title %}</label>
        <input id="email" type="email" name="email" value="{{ request.POST.email }}">
    </p>
    <p>
        <label for="password1">{% trans "Password:"|title %}</label>
        <input id="password1" type="password" name="password1">
    </p>
    <p>
        <label for="password2">{% trans "Repeat Password:"|title %}</label>
        <input id="password2" type="password" name="password2">
    </p>
    <p><button type="submit">{% trans "Confirm"|title %}</button></p>
</form>
<p>{% trans "If you are have an account, you can "|capfirst %}
    <a href="{% url "login" %}">{% trans "Log in "|title %}</a>{% trans " instead." %}</p>
{% endblock content %}
