<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sol Hotel{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
</head>
</head>
<body>
    <header id='alt'>
        <h1>Welcome to the Sol hotel</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">{% trans "Home"|title %}</a></li>
                <li><a href="{% url 'room_listings' %}">{% trans "Rooms"|title %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans "Contact"|title %}</a></li>
                <li><a href="{% url 'about_us' %}">{% trans "About us"|title %}</a></li>
                <li class="spacer"></li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <li><a href="{% url "admin:index" %}">{% trans "Admin"|title %}</a></li>
                    {% endif %}
                    <li><a href="{% url "logout" %}">{% trans "logout"|title %}</a></li>
                    <li><a href="{% url "profile" %}">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="{% url "login" %}">{% trans "login"|title %}</a></li>
                    <li><a href="{% url "signup" %}">{% trans "sign up"|title %}</a></li>
                {% endif %}
            </ul>
         </nav>
    </header>
    {% block content%}
    {% endblock content%}
    <footer>
        <p>&copy; 2023 Hotel Sol. All rights reserved.</p>  
    </footer>
</body>
</html>
