html {
    font-weight: bold;
    color: black;
}
body {
    background: url("/static/img/main_background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 100px;
}

header {
    text-align: center;
    font-size: large;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}
nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:60px;
    
}

#main {
    text-align: center;
    padding: 2em;
}

#r {
    text-align: center;

}

#alt {
    padding: 1em;
    background-color: black;
    color: white;
}

.room-box {
    color: white;
    border: 1px solid #000000;
    background-color: #000000;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start; 
    position: relative;
    margin-bottom: 10px;
    justify-content: space-between;
}

.room-image {
    width: 300px;
    height: 100%;
    margin-right: 20px;
}

.room-details {
    flex: 1;
}

#small {
    font-size: small;
}

#bg {
    color: white;
    background-color: black;
}

#big {
    font-weight: bold;
    font-size: x-large;
}
.room-text {
    flex-direction: column;
}

.room-button {
    margin-left: auto;
    padding: 10px;
}

.box-error {
    background-color: #2e2d2d;
}
.box-success {
    background-color: #2e2d2d;
}
.box-warning {
    background-color: #2e2d2d;
}
.box-info {
    background-color: #2e2d2d;
}
.box-debug {
    background-color: #2e2d2d;
}